/* Styling for Toggle Body Theme */
* {
    font-family: "Noto Sans", sans-serif !important;
}

/* light theme */
:root {
    --primary-body-background-color: white;
    --primary-body-text-color: black;
}

/* dark theme */
[data-theme=dark] {
    --primary-body-background-color: #1e2123;
    --primary-body-text-color: #EEF0F2;
}

body {
    margin: 0px !important;
    color: var(--primary-body-text-color);
    background-color: var(--primary-body-background-color);
}

::-webkit-scrollbar {
    display: none;
}